@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

h1{
    color: #983351;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h2{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #200439;  
}

th, td, table{
    border:1px solid black;
}

th{   
    color: #200439;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

td {
    padding: 5px;
}

a {
    text-decoration: none;
    color:#D40000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;
}

body{
    background-image: url("../img/imagen_libro.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}

::placeholder { 
    color: #DADDFC; 
}

/* MENU */

.menu {
    display: block;
    border:#983351 solid 2px;
    background-color: bisque;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

.menu ul li {
    display:inline;
    padding: 5px;
    font-weight: bolder;
}

.menu ul li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    color:black;
    background-color:lightgray;
}

.rightli {
    float: right;
}

/* *********************** */

/* CONTAINER HOME BOOKS */

.container-home-books {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: auto;
    padding-right: 10px;
}

.form-search { 
    width: 50%;
    max-width: 600px;
    margin-bottom: 10px;
    align-items: flex-start;
    margin-left: 10px;
    padding-right: 10px;
}

.form-search input {
    background-color: #CC4949;
}

.feedback-input-search {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #983351;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:75%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input-search:focus { border:2px solid #CC4949; }

.btn-search {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 25%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:11px;
    padding-bottom:11px;
    margin-left: 5px;
    transition: all 0.3s;
    font-weight:700;
}

/* *********************** */

/* CONTAINER FORM BOOKS */

.containerBooks {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.containerBooks h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center; 
}

.container-add-book {
    width: 50%;
    margin-left: 10px;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: #983351 solid 2px;
    background-color: bisque;
}


.container-add-book p, .container-add-book .form-edit-input-img  {
    margin-left: 0;
}

.table-books {
    width: 50%;
    max-width: 600px;
    margin-left: 10px;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: #983351 solid 2px;
    background-color: bisque;
}

.table-books thead tr {
    background-color: whitesmoke;
}

.table-books thead tr th {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.table-books tbody tr {
    background-color: whitesmoke;
}

/* ********************** */

/*  CONTAINER FORM AUTORS */

.containerAuthors {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.containerAuthors h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center; 
}

.table-authors {
    width: 50%;
    max-width: 600px;
    margin-left: 10px;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: #983351 solid 2px;
    background-color: bisque;
}

.table-authors thead tr {
    background-color: whitesmoke;
}

.table-authors thead tr th {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.table-authors tbody tr {
    background-color: whitesmoke;
}

.container-add-author {
    width: 50%;
    margin-left: 10px;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: #983351 solid 2px;
    background-color: bisque;
}

/*  */

/* TABLE USERS */

.table-users {
    width: 50%;
    max-width: 600px;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: #983351 solid 2px;
    background-color: bisque;
}

.table-users thead tr {
    background-color: whitesmoke;
}

.table-users thead tr th {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.table-users tbody tr {
    background-color: whitesmoke;
}

/* ********************************* */

.delete, .editar{
    border: #983351 solid 1px;
    color: #983351;
    background-color: bisque;
}

.containerEdit{
    margin: 100px;
    border: #983351 solid 2px;
    padding: 50px;
    margin-left: 250px;
    margin-right: 250px;  
    background-color: bisque; 
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    align-items: center;  
}

.authortitle, .booktitle {
    color: black;
    font-size: 20px;
    padding: 5px;
}

#createBook form, #createAuthor form {
    margin-bottom: 10px;
}

.hide {
    display: block;
}

.nohide {
    display: none;
}

.bloqueBorrar {
    text-align: center;
    background-color: #D40000;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: black solid 2px;
    width: 50%;
}

.bloqueBorrar div {
    display: inline-block;
}

.book-img {
    width: 240px;
}

.book-img  img{
    width: 240px;
    height: 340px;
    border-radius: 2px;
    object-fit: cover;
}

/* FORM INPUT LIBRO */

.form-edit { 
    width: 100%;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: flex-start
}

.form-edit input {
    background-color: #CC4949;
}

.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #983351;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}
  
.feedback-input:focus { border:2px solid #CC4949; }
  
textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}
  
.btn-editar {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

.btn-editar:hover { background:#CC4949; }

.form-edit-input-img {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #CC4949;
    width: 100%;
}
/*  */

/* CONTAINER COMMENTS */

.container-comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: auto;
    padding-right: 10px;
}

.container-form-comments {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.form-comment {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-left: 0;
}

.input-form-comments {
    width: 80%;
}

.form-comment input {
    background-color: #CC4949;
}

.feedback-input-comment {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #983351;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:75%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input-comment:focus { border:2px solid #CC4949; }

.btn-comment {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:11px;
    padding-bottom:11px;
    transition: all 0.3s;
    font-weight:700;
}

.container-comments, .container-form-comments {
    width: 50%;
    margin-left: 10px;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: #983351 solid 2px;
    background-color: bisque;
}

.container-comments ul {
    padding-left: 0;
    list-style-type: none;
}

.card-comment {
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-bottom: 5px;
}

.name-user-comment {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/*  */

/* .container-popup {
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.popup {
    background-color: whitesmoke;
    width: 100%;
    max-width: 600px;
    padding: 30px 50px;
    border-radius: 5px;
}

.show {
    pointer-events: auto;
    opacity: 1;
} */
